{{ $course_home := printf "%s/%s/%s" "courses" .CurrentSection.Params.course_id "_index.md" }}
{{ with .Site.GetPage $course_home }}
  <div class="table-responsive course-info">
    <h5 class="font-weight-bold">Course Info</h5>
    <table class="table table-borderless border-bottom-light mb-2">
      <tr>
        <td class="pl-0">Instructor(s)</td>
        <td>
          {{ partial "partial_collapse_list.html" (dict "list" .Params.course_info.instructors "id" "instructors") }}
        </td>
      </tr>
      <tr>
        <td class="pl-0">Department</td>
        <td>
          <a href="#" class="coming-soon">
            {{ partial "partial_collapse_list.html" (dict "list" .Params.course_info.departments "id" "departments") }}
          </a>
        </td>
      </tr>
      <tr>
        <td class="pl-0">Course No.</td>
        <td>{{ partial "partial_collapse_list.html" (dict "list" .Params.course_info.course_numbers "id" "course_numbers") }}</td>
      </tr>
      <tr>
        <td class="pl-0 text-nowrap">As Taught In</td>
        <td>
          <a href="#" class="coming-soon">
            {{ .Params.course_info.term }}
          </a>
        </td>
      </tr>
      <tr>
        <td class="pl-0 pb-3">Level</td>
        <td>{{ .Params.course_info.level }}</td>
      </tr>
    </table>
    <table class="table table-borderless border-bottom-light mb-2">
      <tr>
        <td class="pl-0 pb-3">Topic(s)</td>
        <td class="pb-3">
          <ul class="list-unstyled m-0">
            {{ range $topicObject := .Params.course_info.topics }}
            <li>
              <a href="#" class="coming-soon">
                {{- $topics := slice $topicObject.topic $topicObject.subtopic $topicObject.speciality -}}
                {{ delimit ($topics | complement (slice nil )) " > " }}
              </a>
            </li>
            {{ end }}
          </ul>
        </td>
      </tr>
    </table>
  </div>
{{ end }}
