<div class="instructor-and-number">
  <table class="table table-borderless mb-2">
    <tr>
      <td class="px-0 py-2">Instructor(s)</td>
      <td class="px-0 py-2">
        {{ partial "partial_collapse_list.html" (dict "list" .Params.course_info.instructors "id" "instructors") }}
      </td>
    </tr>
    <tr>
      <td class="px-0 py-2">Course No.</td>
      <td class="px-0 py-2">
        {{ partial "partial_collapse_list.html" (dict "list" .Params.course_info.course_numbers "id" "course_numbers") }}
      </td>
    </tr>
  </table>
</div>
