<div class="instructor-and-number">
  <table class="table table-borderless mb-2">
    <tr>
      <td class="pl-0 py-0 p-md-2">Instructor(s)</td>
      <td class="pl-0 py-0 p-md-2">
        {{ range $instructor := .Params.course_info.instructors }}
        <a href="#" class="coming-soon pr-1">
          {{ $instructor }}
        </a>
        {{ end }}
      </td>
    </tr>
    <tr>
      <td class="pl-0 py-0 p-md-2">Course No.</td>
      <td class="pl-0 py-0 p-md-2">{{ .Params.course_info.course_number }}</td>
    </tr>
  </table>
</div>
