
{{ if isset .Params "course_info" }}
{{ $courseInfo := .Params.course_info }}
<div class="table-responsive course-info">
  <h5 class="font-weight-bold">Course Info</h5>
  <table class="table table-borderless border-bottom-light mb-2">
    <tr>
      <td class="pl-0">Instructor(s)</td>
      <td>
        {{ partial "partial_collapse_list.html" (dict "list" $courseInfo.instructors "id" "instructors") }}
      </td>
    </tr>
    <tr>
      <td class="pl-0">Department</td>
      <td>
        <a href="#" class="coming-soon">
          {{ partial "partial_collapse_list.html" (dict "list" $courseInfo.departments "id" "departments") }}
        </a>
      </td>
    </tr>
    <tr>
      <td class="pl-0">Course No.</td>
      <td>{{ partial "partial_collapse_list.html" (dict "list" $courseInfo.course_numbers "id" "course_numbers") }}</td>
    </tr>
    <tr>
      <td class="pl-0 text-nowrap">As Taught In</td>
      <td>
        <a href="#" class="coming-soon">
          {{ $courseInfo.term }}
        </a>
      </td>
    </tr>
    <tr>
      <td class="pl-0 pb-3">Level</td>
      <td>{{ $courseInfo.level }}</td>
    </tr>
  </table>
  <div class="border-bottom-light mb-2">
    <h5 class="font-weight-bold">Topic(s)</h5>
    <ul class="list-unstyled pb-2 m-0">
      {{- $.Scratch.Set "topicIndex" 0 -}}
      {{ range $topic, $subtopics := $courseInfo.topics }}
      <li>
        {{ partial "topic.html" (dict "context" $ "index" ($.Scratch.Get "topicIndex") "topic" $topic "subtopics" $subtopics) }}
      </li>
      {{- $.Scratch.Add "topicIndex" 1 -}}
      {{ end }}
    </ul>
  </div>
  <div>
    <h5 class="font-weight-bold">Course Features</h5>
    <ul class="list-unstyled m-0">
    {{ range $courseInfo.course_features }}
      {{ partial "course_feature.html" . }}
    {{ end }}
    </ul>
  </div>
  <div class="mt-3">
    <a href="/zips/{{ .Params.course_id }}.zip">
      <div class="btn rounded-0 bg-dark text-white w-100 px-5 py-2 coming-soon">Download Course Materials</div>
    </a>
  </div>
</div>
{{ end }}