<div class="d-inline-flex pr-5 pb-2 font-weight-bold align-items-center">
  <i class="course-feature-icon material-icons h2 pr-2 mb-0">
    {{ if eq .feature "AV faculty introductions" }}
    groups
    {{ else if eq .feature "AV lectures" }}
    record_voice_over
    {{ else if eq .feature "AV recitations" }}
    hearing
    {{ else if eq .feature "AV selected lectures" }}
    record_voice_over
    {{ else if eq .feature "AV special element audio" }}
    equalizer
    {{ else if eq .feature "AV special element video" }}
    theaters
    {{ else if eq .feature "Assignments" }}
    assignment_turned_in
    {{ else if eq .feature "Exams" }}
    grading
    {{ else if eq .feature "Image Gallery" }}
    collections
    {{ else if eq .feature "Instructor Insights" }}
    record_voice_over
    {{ else if eq .feature "Interactive assessments" }}
    assignment_turned_in
    {{ else if eq .feature "Interactive simulations" }}
    laptop_windows
    {{ else if eq .feature "Lecture notes" }}
    notes
    {{ else if eq .feature "Online textbooks" }}
    menu_book
    {{ else if eq .feature "Projects" }}
    group_work
    {{ else if eq .feature "Resource Index" }}
    list
    {{ else if eq .feature "Simulations" }}
    laptop_windows
    {{ else if eq .feature "This Course at MIT" }}
    school
    {{ end }}
  </i>
  <span>
    {{ .feature }}{{ if isset . "subfeature" }} - {{ .subfeature }}{{ end }}
  </span>
</div>
