{{ $currentPage := . }}
{{ $courseId := .Params.course_id }}

<div class="pb-4 rounded">
  <header>
    <h5 class="text-muted text-uppercase course-title-section" >{{ .Params.course_title }}</h5>
    <h1 class="text-uppercase font-weight-bold">{{ $currentPage.Title }}</h1>
    {{ partial "chp_partial.html" (dict "partial" "course_instructor_number.html" "context" .) }}
    {{ with $currentPage.Params.course_info.subtitle }}
    <span class="subtitle">{{ . }}</span>
    {{ end }}
  </header>
  {{ partial "mobile_nav_toggle.html" . }}
  <article class="content pt-2">
    <main>{{- $currentPage.Content -}}</main>
  </article>
</div>