{{ $currentPage := . }}
{{ $course_id := .CurrentSection.Params.course_id }}
{{ $menu := index .Site.Menus $course_id }}
<div class="col-lg-3 pl-5 pr-0 large-and-above-only desktop-nav bg-light">
  <div class="h-100">
    <nav>
      <ul class="m-auto pt-4 pb-4">
        {{ range $menu }}
        <li class="pr-3">
          <a
            class="text-uppercase text-dark{{ if $currentPage.IsMenuCurrent $course_id . }} active{{ end }}"
            href="{{ .URL | relURL }}"
            >
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>
