{{ partial "mobile_nav.html" . }}
<div id="desktop-header">
  <div class="contents p-4 pl-8">
    <div class="ocw-logo-placeholder mr-6">
      OCW LOGO
    </div>
    <div class="input-group bg-white rounded mr-6">
      <input id="search-box" type="text" class="form-control" placeholder="SEARCH">
      <div class="input-group-append">
        <i class="material-icons">search</i>
      </div>
    </div>
    <div class="btn text-white bg-darker-gray rounded ml-6">
      <span>EXPLORE</span>
    </div>
  </div>
</div>
<div id="mobile-header" class="bg-white border-bottom border-dark medium-and-below-only pl-3 pr-3">
  <div class="container-fluid">
    <div class="position-relative border-bottom border-dark pt-1 pb-1">
      <div class="">
        <i class="material-icons display-4 align-bottom">menu</i>
      </div>
      <div id="ocw-logo-mobile" class="position-absolute">
        <img width="36" height="36" src="/images/ocw_logo.jpg" />
      </div>
    </div>
    <div class="pt-1 pb-1">
      <div class="input-group bg-white rounded shadow">
        <input id="search-box" type="text" class="form-control" placeholder="SEARCH">
        <div class="input-group-append">
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>
  </div>
</div>
