<div id="desktop-header" class="bg-light">
  <div class="contents px-6">
    <div class="left">
      <div class="ocw-logo mr-6">
        <a href="/courses">
          <img src="/images/ocw_logo_orange.png" />
        </a>
      </div>
      <a href="/" class="header-link mx-5">
        HOME
      </a>
      <a href="#" class="coming-soon header-link mx-5">
        INSIDE OCW
      </a>
    </div>
    <div class="right">
      <a class="small-link coming-soon">
        <div class="btn rounded-0 bg-dark text-white w-100 px-5 py-2 coming-soon">DONATE</div>
      </a>
    </div>
  </div>
</div>
<div id="mobile-header" class="position-relative bg-white medium-and-below-only px-3 py-2">
  <div class="container-fluid">
    <div class="position-relative pt-1 pb-1">
      <div class="">
        <i class="material-icons display-4 align-bottom">menu</i>
      </div>
      <div id="ocw-logo-mobile" class="position-absolute">
        <img width="250" height="39" src="/images/ocw_logo_orange.png" />
      </div>
    </div>
  </div>
</div>
