{{ $menuItem := .menuItem }}
{{ $id := .menuItem.Identifier }}
{{ $currentPage := .currentPage }}
{{ $courseId := .courseId }}
{{ $hasParent := isset . "parentId" }}
{{ $hasChildren := .menuItem.HasChildren }}
{{ $isMenuCurrent := $currentPage.IsMenuCurrent $courseId .menuItem }}
{{ $hasMenuCurrent := $currentPage.HasMenuCurrent $courseId .menuItem }}

<li class="course-nav-list-item{{ if $hasParent }} course-nav-list-item-child{{ end }}">
  <div class="position-relative pt-2 pb-2{{ if $hasChildren }} pr-3{{ end }}">
    <span class="course-nav-text-wrapper">
      <a class="text-uppercase text-dark{{ if $isMenuCurrent }} active{{ end }}"
        href="{{ .menuItem.URL | relURL }}">
        {{ .menuItem.Name }}
      </a>
    </span>
    {{ if .menuItem.HasChildren }}
    <a class="course-nav-section-toggle" 
      href="#nav-container_{{ .menuItem.Identifier }}" 
      data-toggle="collapse" 
      aria-controls="nav-container_{{ .menuItem.Identifier }}" 
      aria-expanded="{{ if or $isMenuCurrent $hasMenuCurrent }}true{{ end }}">
      <i class="material-icons md-18"></i>
    </a>
    {{ end }}
  </div>
  {{ if or (not $hasParent) $hasChildren }}
  <span class="medium-and-below-only"><hr/></span>
  {{ end }}
  <div class="collapse{{ if or $isMenuCurrent $hasMenuCurrent }} show{{ end }}" 
    id="nav-container_{{ .menuItem.Identifier }}">
    <ul class="course-nav-child-nav m-auto">
      {{ range .menuItem.Children }}
        {{ partial "nav_item.html" (dict "menuItem" . "currentPage" $currentPage "courseId" $courseId "parentId" $id ) }}
      {{ end }}
    </ul>
  </div>
</li>
