{{ $index := .index }}
{{ $context := .context }}
<div class="position-relative pt-2 pb-2{{ if gt (len .subtopics) 0 }} pl-3{{ end }}">
  {{ if gt (len .subtopics) 0 }}
  <a class="topic-toggle" 
    href="#subtopic-container_{{ $index }}" 
    data-toggle="collapse" 
    aria-controls="subtopic-container_{{ $index }}" 
    aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
    <i class="material-icons md-18"></i>
  </a>
  {{ end }}
  <span class="topic-text-wrapper">
    <a class="link-unstyled text-dark font-weight-bold coming-soon" href="#">
    {{ title .topic }}
    </a>
  </span>
</div>
{{ if gt (len .subtopics) 0 }}
<div class="pl-4 collapse{{if eq $index 0 }} show{{ end }}" id="subtopic-container_{{ $index }}">
  {{- $context.Scratch.Set "subtopicIndex" 0 -}}
  {{ range $subtopic, $specialities := .subtopics }}
  {{- $subtopicIndex := $context.Scratch.Get "subtopicIndex" -}}
  <div class="position-relative {{ if gt (len $specialities) 0 }} pl-3{{ end }}">
    {{ if gt (len $specialities) 0 }}
    <a class="topic-toggle" 
      href="#speciality-container_{{ $index }}_{{ $subtopicIndex }}" 
      data-toggle="collapse" 
      aria-controls="speciality-container_{{ $index }}_{{ $subtopicIndex }}" 
      aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
      <i class="material-icons md-18"></i>
    </a>
    {{ end }}
    <span class="topic-text-wrapper">
      <a class="link-unstyled text-dark font-weight-bold coming-soon" href="#">
      {{ title $subtopic }}
      </a>
    </span>
  </div>
  {{ range $specialities }}
  <div class="pt-2 pl-5 collapse{{if eq $index 0 }} show{{ end }}" id="speciality-container_{{ $index }}_{{ $subtopicIndex }}">
    <span class="topic-text-wrapper">
      <a class="link-unstyled text-dark font-weight-bold coming-soon" href="#">
      {{ . }}
      </a>
    </span>
  </div>
  {{ end }}
  {{- $context.Scratch.Add "subtopicIndex" 1 -}}
  {{ end }}
</div>
{{ end }}