{{ define "main" }}
{{ $course_home := printf "%s/%s/%s" "courses" .CurrentSection.Params.course_id "_index.md" }}
{{ if eq .File.Path $course_home }}
<div class="homepage-content">
  <div class="large-and-above-only">
    {{ partial "course_image.html" . }}
  </div>
  <div class="container-fluid pt-0 pt-md-4 pb-4">
    <div class="row medium-and-below-only px-3 pb-2 justify-content-between">
      <div class="col pl-0 pr-1">
        <h2 class="text-uppercase">{{ .Params.course_title }}</h2>
        {{ partial "course_instructor_number.html" . }}
      </div>
      <img class="w-25 mobile-course-image img-thumbnail" src="{{ absURL .CurrentSection.Params.course_image_url }}" />
    </div>
    {{ partial "mobile_nav_toggle.html" . }}
    <h5 class="font-weight-bold pt-2">Course Description</h5>
    <div class="border-bottom-light mb-3">{{ .Params.course_description | safeHTML }}</div>
    <div class="medium-and-below-only">
      {{ partial "course_info.html" .CurrentSection }}
    </div>
  </div>
</div>
{{ else }}
{{ partial "course_section.html" . }}
{{ end }}
{{ end }}
