{{ define "main" }}
{{ $course_home := printf "%s/%s/%s" "courses" .CurrentSection.Params.course_id "_index.md" }}
{{ if eq .File.Path $course_home }}
<div class="homepage-content d-flex">
  <div class="container-fluid pt-0 pb-4">
    <div class="row px-3 pb-2 justify-content-between">
      <div class="col pl-0 pr-1">
        <h2 class="text-uppercase">{{ .Params.course_title }}</h2>
        {{ partial "course_instructor_number.html" . }}
      </div>
      <img class="w-25 course-image medium-and-below-only img-thumbnail" src="{{ relURL .CurrentSection.Params.course_thumbnail_image_url }}" />
    </div>
    {{ partial "mobile_nav_toggle.html" . }}
    <h5 class="font-weight-bold pt-2">Course Description</h5>
    <div class="mb-3 course-description">{{- .Content -}}</div>
    <div class="medium-and-below-only">
      {{ partial "course_info.html" .CurrentSection }}
    </div>
  </div>
  <img class="w-25 course-image img-thumbnail large-and-above-only h-100" src="{{ relURL .CurrentSection.Params.course_image_url }}" />
</div>
{{ else }}
{{ partial "course_section.html" . }}
{{ end }}
{{ end }}
