{{ define "main" }}
{{ partial "course_section.html" . }}
{{ range $index, $video := (where .Pages ".Params.layout" "video") }}
  <div class="video mb-2 border-light-grey rounded">
    <a class="video-toggle"
       href="#video-container_{{ $index }}"
       data-toggle="collapse"
       aria-controls="video-container_{{ $index }}"
       aria-expanded="false">
      EXPAND
    </a>
    <div id="video-container_{{ $index }}" class="video-container collapse">
      <h3>{{ $video.Params.title }}</h3>
      <div>{{ $video.Params.about_this_resource_text | safeHTML | plainify }}</div>
      {{ partial "youtube_player.html" . }}
    </div>
  </div>
{{ end }}
{{ end }}
