{{ define "main" }}
{{ $courseThumbnailUrl := .CurrentSection.Params.course_thumbnail_image_url }}
{{ $courseImageUrl := .CurrentSection.Params.course_image_url }}
<div class="homepage-content d-flex">
  <div class="container-fluid pt-0 pb-4">
    <div class="row px-3 pb-2 justify-content-between">
      <div class="col-lg-4 d-none d-lg-block">
        <div class="d-flex flex-column image-with-caption">
          <img class="course-image" src="
          {{- if hasPrefix $courseImageUrl "http" -}}
            {{ $courseImageUrl }}
          {{- else -}}
            {{ relURL $courseImageUrl }}
        {{- end -}}" />
          <span class="caption p-3">
            {{ .CurrentSection.Params.course_image_alternate_text }}
          </span>
        </div>
      </div>
      {{ partial "mobile_nav_toggle.html" . }}
      <div class="col-lg-8">
        <h4 class="font-weight-bold pt-2">Course Description</h4>
        <div class="mb-3 course-description">{{- .Content -}}</div>
        {{ partial "chp_partial.html" (dict "partial" "course_info.html" "context" . "args" (dict "inPanel" false)) }}
      </div>
    </div>
    <div class="row px-lg-3 pb-lg-2 p-0">
      <div class="col-12 p-0">
        {{ partial "chp_partial.html" (dict "partial" "course_features.html" "context" . "args" (dict "inPanel" false)) }}
      </div>
    </div>
  </div>
</div>
{{ end }}
