{{ partial "mobile_nav.html" . }}
<div class="border-bottom border-dark pt-5 pb-3 large-and-above-only">
    <div class="ml-3 mr-3 pl-5 pr-5">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div>
                <i class="material-icons display-4 align-bottom">menu</i>
            </div>
            <div>
                <img src="/images/ocw_mast.png" />
            </div>
            <div>
                <div class="input-group bg-white rounded">
                    <input id="search-box" type="text" class="form-control" placeholder="SEARCH">
                    <div class="input-group-append">
                        <i class="material-icons">search</i>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn text-white bg-darker-gray rounded">
                    <span>EXPLORE</span>
                </div>
            </div>
            <div>
                <div class="btn text-white bg-darker-gray rounded d-flex flex-row align-items-center">
                    <span>SHARE</span>
                    <i class="material-icons">share</i>
                </div>
            </div>
        </div>
    </div>
</div>
