@import 'imports/reset';
@import '~bootstrap/scss/bootstrap';

$enable-responsive-font-sizes: true;
$light-gray: #F5F5F5;
$dark-gray: #D8D8D8;
$darker-gray: #6F6F6F;

nav {
    @extend .nav;
}

nav > ul {
    @extend .navbar-nav;
}

nav > ul > li {
    @extend .nav-item;
}

nav > ul > li > a {
    @extend .nav-link;
}

table {
    @extend .table;
}

.sidebar {
    background-color: $light-gray;
}

.course-image {
    background-size: cover;
}