@import 'imports/reset';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import 'bootstrap-material-design';

/* CUSTOM STYLES */

body {
    font-family: "Helvetica";
}

.outer-wrapper {
    min-height: 100vh;
    min-width: 335px;
    max-width: 1440px;
    margin: auto auto;
}

.medium-and-below-only {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.large-and-above-only {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.xl-and-above-only {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.course-background {
    @include media-breakpoint-up(lg) {
        background: $dark-gray;
    }
    @include media-breakpoint-down(md) {
        background: $white;
        background-image: url("../../site/static/images/course_image.jpg");
        background-image: linear-gradient(to bottom, $transparent-black, $white, $white), url("../../site/static/images/course_image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
    }
}

.course-image {
    background-size: cover;
}

/* BOOTSTRAP EXTENSIONS / OVERRIDES */

nav {
    @extend .nav;
}

nav > ul {
    @extend .navbar-nav;
}

nav > ul > li {
    @extend .nav-item;
}

nav > ul > li > a {
    @extend .nav-link;
}

table {
    @extend .table;
}

.bg-light {
    background-color: $light-gray !important;
}

.bg-white-desktop {
    @include media-breakpoint-up(lg) {
        background-color: $white !important;
    }
}

.text-white-mobile {
    @include media-breakpoint-down(md) {
        color: $white !important;
    }
}

.bmd-drawer-f-l > .bmd-layout-drawer {
    width: $drawer-width !important;
    transform: translateX(-100vw);
}

/* MATERIAL ICONS */

.instructors-icon {
    @include material-icon('school');
}

.department-icon {
    @include material-icon('account_balance')
}

.topics-icon {
    @include material-icon('subject')
}

.course-number-icon {
    @include material-icon('account_balance')
}

.term-icon {
    @include material-icon('today')
}

.level-icon {
    @include material-icon('equalizer')
}