$enable-responsive-font-sizes: true;
$font-size-base: .8rem;
$table-cell-padding: .5rem;
$drawer-width: 85vw;
$transparent: #FFFFFF00;
$white: #FFFFFF;
$black: #000000;
$transparent-black: #00000080;
$light-gray: #F5F5F5;
$dark-gray: #D8D8D8;
$darker-gray: #6F6F6F;