<html>

<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />
</head>

<body>
  <div id="right" class="column">
    <div class="top-right">
      <header class="header">
        <div class="text-right">
          <a href="#">About</a> | <a href="#">Help</a> | <a href="#">Contact Us</a>
        </div>
        <div class="flex-container">
          <svg
            height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32"
            width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <path
              d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z" />
          </svg>
          <div>
            <a class="logo" href="#">
              <img src="/images/ocw_mast.png" />
            </a>
          </div>
          <div>
            <form class="search" role="search">
              <label>
                Search
                <input type="search" />
              </label>
              <button type="submit">Submit</button>
            </form>
          </div>
          <div>
            <a href="#" class="btn">EXPLORE</a>
            <a href="#" class="btn">SHARE</a>
          </div>
        </div>
      </header>
    </div>
    <div class="bottom">
      <nav class="sidenav">
        <ul>
          <li>
            <a class="sidebar-nav-item" 
              href="/" title="Course Home">
              Course Home
            </a>
          </li>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li>
            <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" 
              href="{{ .URL }}" title="{{ .Title }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      </nav>
      <main>
        {{ block "main" . }}
    
        {{ end }}
      </main>
    </div>
  </div>
</body>

</html>