<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base
        href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
</head>

<body>
    <div class="overflow-auto {{ if .IsHome }}course-home-background{{else}}course-background{{ end }}">
        <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay outer-wrapper">
            {{ block "header" . }}{{ partial "header" . }}{{end}}
            {{ if not .IsHome }}
            <div class="container-fluid">
            {{ else }}
            <div class="container-fluid">
            {{ end }}
                <div class="row pt-3 outer-wrapper">
                    <div class="col-lg-3 pl-5 pr-2 large-and-above-only">
                        {{ partial "desktop_nav.html" . }}
                    </div>
                    <div class="col-lg-9 pl-2 pr-5">
                        {{ block "main" . }}{{end}}
                    </div>
                </div>
            </div>
        </div>

        {{ block "footer" . }}{{ partial "footer" . }}{{end}}

        {{ $script := .Site.Data.webpack.main }}
        {{ with $script.js }}
        <script src="{{ relURL . }}"></script>
        {{ end }}
    </div>
</body>

</html>
