.course-nav {
  a {
    text-decoration: none;

    &.active {
      font-weight: 600;
    }
  }
}

.mobile-course-nav-toggle {
  *:not(i) {
    font-size: 1rem;
  }

  i {
    font-size: 20px;
  }
}

.mobile-course-info-toggle {
  position: absolute;
  right: 0;
  z-index: 10;

  #toggle {
    writing-mode: vertical-lr;
  }
}
