$gitbook-blue-gray: #f5f7f9;
$gitbook-border-gray: #d4dadf;
$gitbook-gray: #74818d;
$gitbook-gray-light: #9daab6;
$gitbook-border-light: #e6ecf1;
$gitbook-blue: rgb(56, 132, 254);

html.gitbook {
  body {
    font-family: "Roboto" !important;
  }

  .homepage-content {
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .course-description {
      margin-right: 15px;
    }
  }

  .left-col-bg {
    background-color: $gitbook-blue-gray !important;
  }

  p {
    font-size: 16px;
    margin-bottom: 24px;
  }

  h2 {
    margin: 32px 0;
  }

  main {
    font-size: 16px;
  }

  #desktop-header {
    background: white;
    border-bottom: 1px solid $gitbook-border-gray;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  }

  .bg-light {
    background-color: $gitbook-blue-gray !important;
  }

  .desktop-nav {
    border-right: 1px solid $gitbook-border-light;

    .course-nav-list-item.active {
      .a-wrapper.active {
        background-color: white;
        border: 1px solid $gitbook-border-light;
        border-right: none;
      }

      a.active {
        color: $gitbook-blue !important;
      }
    }

    .course-nav-list-item {
      padding-right: 0;

      i {
        margin-right: 10px;
      }

      a {
        margin-left: 20px;
        text-transform: none !important;
        font-weight: 500;
        font-size: 14px;
        display: block;
      }
    }
  }

  .course-info {
    font-size: 12px;
    color: $gitbook-gray !important;
    font-weight: 500;

    .border-bottom-light {
      border-bottom: none !important;
    }

    h5.font-weight-bold {
      text-transform: uppercase;
      font-size: 10px;
      color: $gitbook-gray-light;
    }

    table.table {
      color: $gitbook-gray !important;
    }

    a {
      color: $gitbook-gray !important;
    }

    .font-weight-bold {
      font-weight: 500 !important;
    }

    .subtopic-container {
      a.font-weight-bold {
        font-weight: 400 !important;
      }
    }
  }
}
