$spacer1: map-get($spacers, 1);
$spacer2: map-get($spacers, 2);
$spacer3: map-get($spacers, 3);
$spacer4: map-get($spacers, 4);
$spacer5: map-get($spacers, 5);
$spacer6: map-get($spacers, 6);
$spacer7: map-get($spacers, 7);
$spacer8: map-get($spacers, 8);

.search-header {
  .main-header {
    @include media-breakpoint-down(md) {
      padding: $spacer4 0;
    }

    @include media-breakpoint-up(lg) {
      padding: $spacer7 0;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 $spacer3;
  }

  .search-box {
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: 445px;
    }

    div {
      padding: 0;
    }
  }
}

.home-banner {
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  @include media-breakpoint-down(lg) {
    height: 400px;
  }

  @include media-breakpoint-down(sm) {
    height: 250px;
  }

  .banner-contents-container {
    max-width: $max-content-width;
    flex-direction: row;
    margin-top: $desktop-header-height;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    .search-box-wrapper {
      max-width: 550px;
      width: 96%;
      position: relative;
      flex-shrink: 2;
    }

    .unlock {
      background-color: rgba(18, 111, 154, 0.65);
      max-width: 550px;
      flex-shrink: 0;

      .unlocking {
        font-size: 35px;
        text-transform: uppercase;
        line-height: 1.1;

        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }

      .free {
        font-size: 20px;
        line-height: 24px;

        @include media-breakpoint-down(sm) {
          font-size: 16px;
          line-height: 19px;
        }
      }

      .learn-more {
        color: $orange;
        text-transform: uppercase;
        font-size: 15px;
        align-self: flex-end;
      }
    }
  }
}

.beta-dialog {
  p,
  li {
    font-size: 1rem;
  }
}

.give-now-wrapper {
  background-color: $transparency-gray;
}

.give-now {
  max-width: 950px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  @include media-breakpoint-down(md) {
    padding: $spacer3 $spacer3 $spacer5;
  }

  @include media-breakpoint-up(lg) {
    padding: $spacer5 $spacer8;

    div:not(:first-child) {
      padding-left: $spacer6;
    }
  }

  .give-button {
    width: 158px;
    height: 50px;
    border-radius: 5px;
    background-color: $orange;
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: center;
    }

    div {
      padding: $spacer3 $spacer5;
    }

    h1 {
      font-size: 28px;
    }

    img {
      height: 30px;
    }
  }
}

$maxwidth: 1280px;

.social-cards-wrapper {
  background-color: $course-blue;
}

.social-cards {
  max-width: $maxwidth;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .row {
    padding: 60px 80px;

    @include media-breakpoint-down(md) {
      padding: 30px 0;
    }
  }

  .social-card {
    h5 {
      padding-bottom: $spacer1;
      font-size: 16px;
    }

    .social-icon-row {
      width: 225px;
    }

    > div {
      background-color: $white;
      border: 1px solid $border-darker-gray;
      border-radius: 5px;
      padding: $spacer4 $spacer6;

      @include media-breakpoint-down(md) {
        padding: $spacer4 $spacer4;
      }
    }

    .newsletter-form {
      .btn {
        background-color: $highlight-red;
        font-size: 0.75rem;

        @include media-breakpoint-down(md) {
          font-size: 1rem;
          font-weight: bold;
        }
      }

      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }

      @include media-breakpoint-up(xl) {
        flex-direction: row;
      }
    }
  }
}

.social-icon {
  width: 40px;
  height: 40px;
}

.course-cards {
  max-width: $maxwidth;

  a {
    text-decoration: none;
  }

  .course-card-wrapper {
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .course-card {
      border: 1px solid $border-gray;
      $radius: 10px;
      border-radius: $radius;
      height: 381px;
      width: 100%;

      h5 {
        font-size: 16px;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 186px;
        border-radius: $radius $radius 0 0;
      }

      .course-level {
        text-transform: uppercase;
        color: $font-gray-mid;
      }

      .course-card-content {
        font-size: 12px;

        .card-label {
          color: $give-heart-gray;
        }
      }
    }
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    // this is display: block in bootstrap but we want to have cards laid out properly
    display: flex;
  }

  .carousel {
    max-width: $maxwidth;
    width: 100%;

    .carousel-inner {
      max-width: $maxwidth;
      width: 100%;

      .carousel-item {
        margin-left: 0;

        @include media-breakpoint-up(md) {
          padding: 0 10px;
        }
      }
    }

    .carousel-header {
      max-width: $maxwidth;
      margin: 0;

      @include media-breakpoint-up(md) {
        padding: 0 10px;
      }

      @include media-breakpoint-down(xs) {
        h3 {
          font-size: 14px;
        }

        h4 {
          font-size: 12px;
        }
      }

      .new-courses-title {
        padding: 12px 0 6px 0;
      }

      a {
        border: 1px solid $border-dark-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-left: 8px;
        padding: 6px;
        font-size: 16px;
        height: 38px;

        span {
          display: inline;
        }

        @include media-breakpoint-down(xs) {
          &.next {
            padding: 6px 2px 6px 10px;
          }

          &.prev {
            padding: 6px 10px 6px 2px;
          }
        }
      }
    }
  }
}

.sponsors {
  max-width: $max-content-width;
}
