$spacer1: map-get($spacers, 1);
$spacer2: map-get($spacers, 2);
$spacer3: map-get($spacers, 3);
$spacer4: map-get($spacers, 4);
$spacer5: map-get($spacers, 5);
$spacer6: map-get($spacers, 6);
$spacer7: map-get($spacers, 7);
$spacer8: map-get($spacers, 8);

.search-header {
  .main-header {
    @include media-breakpoint-down(md) {
      padding: $spacer4 0;
    }
    @include media-breakpoint-up(lg) {
      padding: $spacer7 0;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 $spacer3;
  }

  .search-box {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 445px;
    }

    div {
      padding: 0;
    }
  }
}

.beta-dialog {
  p,
  li {
    font-size: 1rem;
  }
}

.give-now {
  max-width: 950px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: $spacer3 $spacer3 $spacer5;

    :not(:first-child) {
      padding-top: $spacer2;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: $spacer5 $spacer8;

    div:not(:first-child) {
      padding-left: $spacer6;
    }
  }
}

.give-button {
  @include media-breakpoint-down(md) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  div {
    padding: $spacer3 $spacer5;
  }
}

.social-cards {
  @include media-breakpoint-down(md) {
    padding: $spacer3 $spacer3;

    .social-card:not(:first-child) {
      margin-top: $spacer3;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: $spacer5 $spacer5;

    .social-card:not(:first-child) {
      margin-left: $spacer3;
    }
  }
}

.social-card {
  h5 {
    padding-bottom: $spacer1;
  }

  > div:first-child {
    background-color: $white;
    border: 1px solid $border-darker-gray;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      padding: $spacer4 $spacer3;
      width: auto;
    }
    @include media-breakpoint-up(lg) {
      padding: $spacer4 $spacer6;
      width: 500px;
      height: 120px;
    }
  }

  .newsletter-form {
    @include media-breakpoint-down(md) {
      flex-direction: column;

      a {
        padding-top: $spacer3;
      }
    }
    @include media-breakpoint-up(lg) {
      flex-direction: row;

      a {
        padding-left: $spacer4;
      }
    }
  }
}

.social-icon {
  width: 40px;
  height: 40px;
}

.course-cards {
  margin-top: 20px;

  .course-card {
    display: block;
    border: 1px solid $border-gray;
    border-radius: 7px;
    min-height: 300px; // TODO: height or min-height?

    a {
      text-decoration: none;
    }

    h5 {
      font-size: 16px;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 141px;
    }

    .course-level {
      text-transform: uppercase;
      color: $font-gray-mid;
    }

    .course-card-content {
      padding: 10px;

      .card-line {
        font-size: 12px;
        padding-top: 10px;

        .card-label {
          color: $give-heart-gray;
        }
      }
    }
  }
}
