@import "imports/reset";
@import "bootstrap-overrides";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~offcanvas-bootstrap/src/sass/bootstrap.offcanvas";

$material-icons-font-path: "~material-icons/iconfont/";

@import "~material-icons/iconfont/material-icons.scss";
@import "bootstrap-material-design";
@import "header";
@import "course-nav";
@import "course-info";
@import "drawer";
@import "gitbook";
@import "pdf";
@import "video";

/* CUSTOM STYLES */

body {
  font-family: "Helvetica";
}

blockquote {
  margin-left: 2em;
}

a {
  color: black;
  text-decoration: underline;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
  }
}

.link-unstyled {
  text-decoration: none;
}

.outer-wrapper {
  min-height: 100vh;
  margin: auto auto;

  @include media-breakpoint-up(lg) {
    max-width: $max-content-width;
  }

  @include media-breakpoint-down(md) {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.left-col-bg {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 100vh;
    background-color: $light-gray;
    z-index: -1;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.medium-and-below-only {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.large-and-above-only {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.xl-and-above-only {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.course-image {
  @include media-breakpoint-down(md) {
    height: 100px;
    width: 150px;
  }

  object-fit: cover;
}

#search-box {
  width: 300px;
}

/* BOOTSTRAP EXTENSIONS / OVERRIDES */

nav {
  @extend .nav;
}

nav > ul {
  @extend .navbar-nav;
}

nav > ul > li {
  @extend .nav-item;
}

nav > ul > li > a {
  @extend .nav-link;
}

table {
  @extend .table;
}

.bg-light {
  background-color: $light-gray !important;
}

.bg-darker-gray {
  background-color: $darker-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-link-blue {
  background-color: $link-blue;
}

.bg-white-desktop {
  @include media-breakpoint-up(lg) {
    background-color: $white !important;
  }
}

.text-white-mobile {
  @include media-breakpoint-down(md) {
    color: $white !important;
  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* MATERIAL ICONS */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.instructors-icon {
  @include material-icon("school");
}

.department-icon {
  @include material-icon("account_balance");
}

.topics-icon {
  @include material-icon("subject");
}

.course-number-icon {
  @include material-icon("account_balance");
}

.term-icon {
  @include material-icon("today");
}

.level-icon {
  @include material-icon("equalizer");
}

.border-left-light {
  border-left: 1px solid $border-light-color;
}

.border-bottom-light {
  border-bottom: 1px solid $border-light-color;
}

.border-light-grey {
  border: 1px solid $border-grey;
}

.content {
  img {
    max-width: 100%;
  }
}

article.content {
  // sometimes the tables can be wide, and on mobile that can ruin the overall page width
  // this forces the table to scroll if it's too wide
  table {
    display: block;
    overflow: auto;
  }
}

.course-title-section {
  font-size: 18px;
}
