@import "variables";
@import "breakpoints";
@import "learning-resource-card";
@import "learning-resource-icon";
@import "card";

.search-box {
  background-color: $light-gray;

  .search-box-inner {
    max-width: 800px;

    .search-input-wrapper {
      max-width: 580px;
    }
  }

  input {
    border: 1px solid $border-light-color;
    height: 50px;
  }

  i.material-icons {
    top: 25%;
    left: 5px;
    color: $font-gray-light;
    cursor: pointer;
  }
}

.search-page {
  .search-results {
    max-width: 800px;
  }

  .no-results-found {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
  }
}
