$max-content-width: 1447px;
$enable-responsive-font-sizes: true;
$font-size-base: 0.8rem;
$headings-font-weight: 600;
$table-cell-padding: 0.5rem;
$offcanvas-width: 85vw;
$transparent: #ffffff00;
$white: #ffffff;
$black: #000000;
$transparent-black: #00000080;
$light-grey: #f5f5f5;
$dark-grey: #d8d8d8;
$darker-grey: #6f6f6f;
$border-dark-color: #979797;
$border-light-color: #b0b0b0;
$bg-gray: #d5d5d5;
$partial-collapse-height: 3em;

// full-color design
$highlight-red: #a31f34;
$orange: #ff8a1f;
$link-blue: #126f9a;
$text-gray: #7c7b7d;
$border-grey: #c2c0bf;
$border-dark-grey: #cfcfcf;
$border-darker-grey: #979797;

// home page
$give-heart-grey: #bbbbbb;
$text-box-border: #A3A3A3;
$text-box-background: #fbfbfb;