{{ define "main" }}
<main aria-role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xl-8">
                {{ if not .IsHome }}
                <header class="homepage-header">
                <h2 class="text-uppercase font-weight-bold">{{ .Title }}</h2>
                {{ with .Params.course_info.subtitle }}
                <span class="subtitle">{{.}}</span>
                {{ end }}
                </header>
                {{ end }}
                <div class="homepage-content">
                    <div class="xl-and-above-only">
                        {{ partial "course_image.html" . }}
                    </div>
                    <h2 class="text-uppercase font-weight-bold text-white-mobile">{{ .Params.course_title }}</h2>
                    <h5 class="font-weight-bold text-white-mobile">Course Description</h5>
                    <p class="text-white-mobile">{{ .Params.course_description }}</p>
                    {{ partial "mobile_nav_toggle.html" . }}
                    <div class="medium-and-below-only">
                        {{ partial "course_info.html" .Site.Home }}
                        <hr />
                    </div>
                    {{ .Content }}
                </div>
            </div>
            <div class="col-lg-12 col-xl-4">
                <div class="p-3 bg-white shadow rounded large-and-above-only">
                {{ partial "course_info.html" .Site.Home }}
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
