{{ define "main" }}
<main aria-role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <header class="homepage-header">
                <h2 class="text-uppercase font-weight-bold">{{.Title}}</h2>
                {{ with .Params.course_info.subtitle }}
                <span class="subtitle">{{.}}</span>
                {{ end }}
                </header>
                <div class="homepage-content">
                {{.Content}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="container-fluid bg-white">
                    <h4 class="font-weight-bold">Course Info</h4>
                    <table class="table table-borderless">
                        <tr>
                            <td></td>
                            <td>Instructor(s)</td>
                            <td>
                                <ul class="list-unstyled">
                                    {{ range $instructor := .Params.course_info.instructors }}<li>{{ $instructor }}</li>{{ end }}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Department</td>
                            <td>{{ .Params.course_info.department }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Topic(s)</td>
                            <td>
                                <ul class="list-unstyled">
                                    {{ range $topic := .Params.course_info.topics }}<li>{{ $topic }}</li>{{ end }}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Course No.</td>
                            <td>{{ .Params.course_info.course_number }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>As Taught In</td>
                            <td>{{ .Params.course_info.term }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Level</td>
                            <td>{{ .Params.course_info.level }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
