$course-image-url: "{{ with .Site.GetPage "/" }}{{ .Params.course_image }}{{ end }}" !default;

.header {
    background-color: #D8D8D8;
}

.main {
    background-color: #F0F0F0;
}

.header div {
    padding: 0 20px 0 20px;
}

.btn {
    background-color: #6F6F6F;
    color: #FFFFFF;
}

.jumbotron {
    background: url($course-image-url) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}